html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.new-word-box {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.word-under-test {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #E3F5FF;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #0040A7;
}

.word-translation {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #FFF2DD;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #793100;
}
